<div class="contentBox">

    <div id="sixth" class="buttonBox">
        <button>La Batea</button>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div>
    <div id="sixth" class="buttonBox">
        <button>Sixto Duran Ballen</button>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div>
    <div id="sixth" class="buttonBox">
        <button>Sixto Duran Ballen</button>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div>
    <div id="sixth" class="buttonBox">
        <button>Sixto Duran Ballen</button>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div>

</div>