<nz-card class="custom-card" style="width: 500px;">
    <div  class="card-content">
        <div class="image-container">
            <img class="img" alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </div>
        <div class="image-container">
            <img class="img" alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </div>
    </div>

    <div class="card-details">
        <h2 class="top-right">2-4</h2>
        <h2>23 dwede ggt</h2>

        <p>Fecha: 14 - 14:00</p>

        <p class="button-style">Finalizado</p>
    </div>
</nz-card>
