<nz-header>
  <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="onClickMenu()"></span>
  
    
  <span class="navbar">
    <a href="">Inicio</a>
    <a href="">Posiciones</a>
    <a href="">Programacion</a>
    <a href="">Calendario</a>
  </span>



</nz-header>

<!-- <nz-header>
  <div class="navbar">
    <div class="logo">
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="onClickMenu()"></span>
    </div>
    <div class="nav-links">
      <a href="#">Inicio</a>
      <a href="#">Posiciones</a>
      <a href="#">Programacion</a>
      <a href="#">Calendario</a>
    </div>
  </div>
</nz-header> -->
